@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap%27');

/*PALETA:

#2589BD - Fundos
#4B66BF - Quadrados (Atualizaçoes e apostilas)
#FF9203 - Fontes
#CFCDC1 - Variados 
*/


/*Configurações gerais*/
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

/*Cabeçalho*/
#container ul {
display: flex;
background-color: #2589BD;
justify-content: center;
gap: 30px;
padding: 20px;
}

#container a {
    color: white;
    font-size: 1.4em;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
}

#container a:hover {
    color: rgba(255, 255, 255, 0.527);
}

/*Infos*/

#infos h1 {
    color: #FF9203;
    text-align: center;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

#info-flex ul  {
    display: flex ;
    font-size: 1.5em;
    margin-top: 10px;
    justify-content: center;
    gap: 150px;
    color: #2589BD;
    font-family: 'Oswald', sans-serif;
}

#info-flex-r ul  {
    display: flex ;
    font-size: 1.3em;
    justify-content: center;
    gap: 240px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#dois {
    position: relative;
    left: -70px;
}

#p2 {
    margin-top: -25px;
}

/*Conteudo*/
#conteudo h1 {
    margin-left: 50px;
    color: #2589BD;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
}

#conteudo #c-flex {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 70px;
    text-align: justify;
}

#conteudo #c-flex p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
}

/*Apostilas*/

#apostilas h1 {
    text-align: center;
    margin-top:10px;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: #FF9203;
}


#apostila-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

#apostila-container .apostila-quadrado {
    background-color: #1d5574;
    height: 250px;
    width: 270px;
    box-shadow: 10px 10px #13315C ;
    margin-bottom: 30px;
}

#apostila-container .apostila-quadrado:hover {
    background-color: #4394c0;
}

#apostila-container .apostila-quadrado img {
    width: 130px;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#apostila-container .apostila-quadrado h1 {
    color: white;
    font-size: 25px;
    margin-top: 45px;
}

#rodape {
    margin-top: 50px;
    background-color: #2589BD;
    height: 50px;
}

#rodape > p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 15px;
}




/*RESPOSIVIDADE*/
@media (max-width: 1000px) {


* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

/*Cabeçalho*/
#container ul {
display: flex;
background-color: #2589BD;
justify-content: center;
gap: 30px;
padding: 20px;
}

#container a {
    color: white;
    font-size: 1.4em;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
}

#container a:hover {
    color: rgba(255, 255, 255, 0.527);
}

/*Infos*/

#infos h1 {
    color: #FF9203;
    text-align: center;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

#info-flex ul  {
    display: flex ;
    font-size: 1.4em;
    margin-top: 10px;
    justify-content: center;
    gap: 150px;
    color: #2589BD;
    font-family: 'Oswald', sans-serif;
}

#info-flex-r ul  {
    display: flex ;
    font-size: 1.0em;
    justify-content: center;
    gap: 240px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#dois {
    position: relative;
    left: -50px;
}

#p2 {
    margin-top: -25px;
}

/*Conteudo*/
#conteudo h1 {
    margin-left: 50px;
    color: #2589BD;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
}

#conteudo #c-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 70px;
    text-align: justify;
}

#conteudo #c-flex p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
}

/*Apostilas*/

#apostilas h1 {
    text-align: center;
    margin-top:10px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: #FF9203;
}


#apostila-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;

}

#apostila-container .apostila-quadrado {
    background-color: #1d5574;
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px #13315C ;
    margin-bottom: 30px;
    margin: auto;
}

#apostila-container .apostila-quadrado:hover {
    background-color: #4394c0;
}

#apostila-container .apostila-quadrado img {
    width: 90px;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#apostila-container .apostila-quadrado h1 {
    color: white;
    font-size: 20px;
    margin-top: 45px;
    text-align: center;
}

#rodape {
    margin-top: 50px;
    background-color: #2589BD;
    height: 50px;
}

#rodape > p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 15px;
}
}